<h2>Paises</h2>
<hr />
<ul class="list-group">
  <li routerLink="home" routerLinkActive="active" class="list-group-item active">Home Page</li>
  <li routerLink="about" routerLinkActive="active" class="list-group-item">About Page</li>
  <li routerLink="contact" routerLinkActive="active" class="list-group-item">Contact Page</li>
  <li routerLink="countries/by-capital" routerLinkActive="active" class="list-group-item">Por Capital</li>
  <li routerLink="countries/by-country" routerLinkActive="active" class="list-group-item">Por Pais</li>
  <li routerLink="countries/by-region" routerLinkActive="active" class="list-group-item">Por Regions</li>
</ul>
